* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


body{
    width: 100%;
    background-color: #EEF9BF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.container{
    width: 50%;
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    margin-bottom: 50px;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    color: #75B79E;
}

.tabuleiro{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.carta{
    width: 117px;
    height: 146px;
    border-radius: 5px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    position: relative;
    cursor: pointer;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    transition: all .5s;
    transform-style: preserve-3d;
    
}


.front, .back{
    width: 100px;
    height: 100px;
    position: absolute;
    transition: transform 0.25s linear;
    backface-visibility: hidden;
}

.carta .back{
    transform: rotateY(-180deg);
  }
  .carta.flip .back{
    transform: rotateY(0);
  }
  .carta.flip .front{
    transform: rotateY(180deg);
  }

.carta.shake{
    animation: shake 0.35s ease-in-out;
  }
  @keyframes shake {
    0%, 100%{
      transform: translateX(0);
    }
    20%{
      transform: translateX(-13px);
    }
    40%{
      transform: translateX(13px);
    }
    60%{
      transform: translateX(-8px);
    }
    80%{
      transform: translateX(8px);
    }
  }

  @media (max-width: 480px){


    h1{
      font-size: 36px;
    }

  }